@use '../../utils/' as *;

.footer-card {
  max-width: rem(1170);
  text-align: center;
  margin-bottom: rem(15);
  color: var(--gray-600);
  background-color: white;

  h5 {
    margin: rem(10) 0;
    color: var(--gray-800);
  }
}
