@use '../../utils/' as *;

.user-panel-card-container {
  .user-card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .user-btns {
      padding: rem(10) 0;
      display: flex;
      color: var(--gray-800);
    }

    h3 {
      margin-bottom: rem(18);
    }
  }

  .profile-info {
    display: flex;
    gap: rem(30);
    color: var(--gray-600);

    p {
      font-weight: 600;
    }

    span {
      display: block;
    }
  }

  .logout {
    padding: rem(5);
  }
}
