@use '../../utils/' as *;

.user-panel-card-container {
  .icon {
    color: var(--light-blue);
  }
  .user-card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .user-btns {
      padding: rem(5) 0;
      display: flex;
      color: var(--gray-800);
    }

    .user-name {
      color: var(--primary-white);
      cursor: pointer;
    }
  }

  .profile-info {
    display: flex;
    gap: rem(20);
    color: var(--gray-600);

    p {
      font-weight: 600;
      color: var(--primary-white);
    }
  }
}

.user-follow-info {
  display: flex;
  align-items: center;
  gap: rem(10);
  margin-top: rem(10);

  span {
    color: var(--primary-white);
    font-size: rem(18);
    background-color: var(--gray);
    padding: rem(5) rem(15);
    border-radius: 50px;
    cursor: pointer;
  }
}
