@use '../utils/' as *;

.add-article-page {
  padding: 0 !important;
  padding-top: 5vh;

  .add-article-card-container {
    width: rem(1170);

    .article-setup-card {
      width: 100%;
      background-color: var(--light-green);
      margin-bottom: rem(30);
    }
  }

  .text-editor-container {
    background-color: var(--primary-white);
    margin-bottom: rem(30);
    min-height: 20vh;
    overflow: visible;
  }

  hr {
    border-top: 2px solid var(--primary-black);
    margin-bottom: rem(20);
  }

  .buttons-container {
    display: flex;
    gap: rem(10);

    .delete-img-btn {
      background-color: transparent;
      border: 1px solid var(--primary-black);
    }
  }
}

.article-setup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(30);

  .title-input {
    height: fit-content;
    font-weight: 700;
    color: var(--dark-color);
  }

  .img-input-span {
    padding: rem(30);
  }

  img {
    max-height: rem(350);
    object-fit: cover;
  }

  .left-col-setup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .inputs-container {
      display: flex;
      flex-direction: column;
      gap: rem(10);

      label {
        text-align: left;
      }
    }
  }

  .right-col-setup {
    h5 {
      margin-bottom: rem(10);
    }
  }
}

.ReactTags__tagInputField {
  border-radius: rem(50);
  padding: rem(12) rem(24);
  color: var(--primary-black) !important;
  border: 1px solid var(--gray-500);
  outline: none;
  font-size: rem(18);
  border-radius: rem(14);
  background-color: rgba($color: #ffffff, $alpha: 0.6);
  transition: all 0.2s;
  width: 100%;

  &.rounded {
    border-radius: rem(50);
    min-height: rem(72);
  }

  &:focus,
  &:hover {
    transform: scale(1.01);
    box-shadow: rgb(201, 229, 255) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
}

.ReactTags__tags {
  width: 100%;
}

.ReactTags__tagInputField {
  margin-bottom: rem(10);
  color: var(--gray-500);
}

.ReactTags__selected {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: rem(5);
  width: 80%;
}

.ReactTags__selected .ReactTags__tag {
  border: 1px solid var(--gray-500);
  background-color: transparent;
  padding-left: rem(10);
  border-radius: 50px;
  transition: all 0.2s;
  cursor: pointer !important;

  &:hover {
    border: 1px solid var(--primary-black);
    transform: scale(1.01);
  }
}

.ReactTags__selected .ReactTags__remove {
  background-color: transparent;
  font-size: rem(16);
  box-shadow: none;
  width: rem(30);
  height: rem(30);
  outline: none;
  border: none;
  cursor: pointer !important;
}

.upload-img-area {
  display: flex;
  border: rem(2) dashed var(--gray-500);
  color: var(--gray-500);
  background-color: var(--gray-100);
  border-radius: rem(10);
  min-height: rem(250);
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: rem(10);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--gray-200);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
      rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }
}
