@use '../utils/' as *;

.article-page {
  margin-bottom: rem(30);

  .article-page-container {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: rem(30);

    img {
      border-radius: rem(24);
      width: 100%;
    }

    .author-card {
      grid-column: 2;
    }

    .article-img {
      margin-bottom: rem(20);
    }

    .go-back-btn {
      background-color: var(--primary-black);
      color: var(--primary-white);
      grid-column: span 2;
      padding: rem(20);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(10);
      transition: all 0.2s;
      cursor: pointer;

      &:hover,
      &:focus-visible {
        transform: scale(1.005);
        background-color: var(--gray-950);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }
    }

    .wmde-markdown {
      background-color: transparent;

      pre {
        background-color: var(--gray-100);
      }
    }

    .article-page-top-area {
      padding: rem(30) rem(30);
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--gray-100);
      margin-bottom: rem(30);
      border-radius: rem(24);

      .article-meta {
        display: flex;
        gap: rem(100);

        h5 {
          font-size: rem(22);
          font-weight: 600;
          margin: 0;

          span {
            font-size: rem(18);
            margin-top: rem(2);
            display: block;
          }
        }
      }
    }
  }
}

article {
  h2 {
    margin-bottom: rem(30);
  }
  p {
    margin: rem(16) 0;
  }

  figure {
    margin: rem(36) 0;
  }

  figcaption {
    text-align: center;
    color: var(--gray-color);
    margin-top: rem(10);

    em {
      font-style: unset;
    }
  }

  blockquote {
    margin: rem(50);
    color: var(--gray-color);
  }

  a {
    color: inherit;
    border-radius: rem(5);
    transition: all 0.2s;

    &:hover {
      background-color: var(--light-blue);
    }

    em {
      font-style: unset;
    }
  }
}
