@use '../utils' as *;

.home {
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  .home-container {
    display: grid;
    grid-template-columns: rem(720) rem(420);
    gap: rem(30);

    max-width: rem(1170);

    .trending-articles-card {
      grid-row: 2/3;
    }

    .user-updated-home-container {
      height: 100%;
      grid-row: 1/4;
      grid-column: 2;

      .multi-func-card {
        background-color: var(--light-blue);
        height: 100%;
      }
    }

    .search-card {
      grid-row: 3;
    }

    .recommended-topics-card {
      grid-column: 2;
      grid-row: 4;
    }

    .articles-list {
      grid-row: 4;
    }

    .home-header {
      padding: rem(30) 0 0 rem(30);

      h3 {
        color: var(--gray-500);
      }
    }

    .user-panel-card {
      background-color: var(--primary-black);
    }

    .write-new-article-btn {
      background-color: var(--primary-black);
      color: var(--primary-white);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s;

      &:hover,
      &:focus-visible {
        background-color: var(--gray-950);
        transform: scale(1.005);
      }
    }
  }

  .logged-in {
    .user-updated-home-container {
      height: 100%;
      grid-row: 2/4;
      display: grid;
      grid-template-rows: 1fr 6fr;
      gap: rem(30);
    }

    .write-new-article-btn {
      padding: rem(10);
    }
  }
}
