@use '../utils' as *;

.home {
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  .home-container {
    display: grid;
    grid-template-columns: rem(720) rem(420);
    gap: rem(30);

    max-width: rem(1170);
  }

  .auth-card {
    grid-row: span 3;
  }

  .search-card {
    grid-row: 3;
  }

  .recommended-topics-card {
    grid-column: 2;
    grid-row: 4;
  }

  .articles-list {
    grid-row: 4;
  }

  .home-header {
    padding: rem(30) 0 0 rem(30);

    h3 {
      color: var(--gray-500);
    }
  }
}
