@use '../utils/' as *;

.following-list {
  .user-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      height: rem(40);
    }

    .secondary {
      background-color: var(--light-gray);
      font-weight: bold;
    }
  }

  hr {
    border-top: 1.5px solid var(--primary-black);
    margin: rem(20) 0;
  }
}
