:root {
  --primary-black: rgb(32, 32, 32);
  --primary-white: rgb(246, 247, 249);

  --gray-100: rgba(32, 32, 32, 0.1);
  --gray-200: rgba(32, 32, 32, 0.2);
  --gray-300: rgba(32, 32, 32, 0.3);
  --gray-400: rgba(32, 32, 32, 0.4);
  --gray-500: rgba(32, 32, 32, 0.5);
  --gray-600: rgba(32, 32, 32, 0.6);
  --gray-700: rgba(32, 32, 32, 0.7);
  --gray-800: rgba(32, 32, 32, 0.8);
  --gray-900: rgba(32, 32, 32, 0.9);
  --gray-950: rgba(32, 32, 32, 0.95);

  --light-blue: rgb(201, 229, 255);
  --light-green: rgb(189, 224, 218);
  --light-pink: rgb(229, 222, 240);
}
